body {
    display: grid;
}

.container {
    display: flex;

    align-items: center;
    justify-content: center;
}

#add-book {
    border-radius: 6px;
    padding: 16px;

    color: #fafafa;
    font-weight: bolder;
    background-color: rgb(1, 69, 156);
}

.library-container {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

    width: 94vw;
    margin-top: 4vh;

    background-color:#f19d00d8;

}

.book {
    height: 46vh;
    width: 28vw;

    background-color: rgb(151, 0, 0);

}

form {
    height: 20vh;
    width: 15vw;
}
