body {
    display: grid;
}

.container {
    display: flex;

    align-items: center;
    justify-content: center;
}

button {
    border-radius: 6px;
    padding: 16px;

    color: #fafafa;
    font-weight: bolder;
    background-color: rgb(1, 69, 156);
}

.container-2 {
    display: grid;

    justify-self: center;
    justify-content: space-evenly;

    width: 94vw;
    margin-top: 4vh;

    background-color:#f19d00d8;

}

.book {
    height: 46vh;
    width: 28vw;

    background-color: rgb(151, 0, 0);

}

