body {
    display: grid;
}

.container {
    display: flex;

    align-items: center;
    justify-content: center;
}

#add-book {
    border-radius: 6px;
    padding: 16px;

    color: #fafafa;
    font-weight: bolder;
    background-color: rgb(1, 69, 156);
}

.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

   gap: 1rem;
   margin-top: 4rem;
}

.book {

    border: 2px solid #f19d00d8;
    background-color: rgb(151, 0, 0);

}

form {
    height: 20vh;
    width: 15vw;
}
